body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
}


.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;

}

header img {
    max-width: 40px;
}

.nav-links {
    display: flex;
    gap: 10px;

}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0em;
}

.hero {
    background-color: #1f2937;
    display: flex;
    padding-bottom: 100px;
    justify-content: center;


}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    max-width: 685px;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 120px;
}

.hero-button:hover {
    background-color: #1a458a;
}

.top-videogames {
    height: 300px;
    min-width: 0;
}

.hero-title-text-button {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
}

.top-videogames {

    margin-left: 50px;
    margin-top: 50px;
}

.information {
    padding: 50px;
}

.information-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.information-images {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.information-images img {
    border: 5px solid #3882f6;
    border-radius: 10px;
    width: 200px;
    height: auto;
    min-width: 0;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;

}

.text {
    text-align: center;
    color: #4b5563;
    font-size: 16px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 70px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
    max-width: 1000px;
    margin-bottom: 0rem;
}

.author {
    display: flex;
    justify-content: flex-end;
    min-width: 1000px;
    margin-top: 0rem;
    font-size: 22px;
    font-weight: 700;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.banner {
    background-color: #3882f6;
    border-radius: 6px;
    padding: 30px 200px;
    display: flex;
    justify-content: center;
    gap: 200px;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title {
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
}

.banner-text {
    color:#e5e7ebc7;
    font-size: 16px;
    margin-top:2px;
}

.banner-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 30px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.banner-button:hover {
    background-color: white;
    color: #3882f6;
}

.footer {
    color: white;
    font-size: 14px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}